<div class="main"
    style="background-image: url('images/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="container-fluid">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive white-text font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                        data-wow-delay="0.3s" style="font-size: 5rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ">to D<img class="ichome" src="images/icon_home-2.png" alt="ToDo"></h1>
                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aperiam?</strong></h5>
                    <a href="" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">S'inscrire</a>
                    <a href="" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Se connecter</a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <script> new WOW().init();
    </script>
</div>